#busy
{
    position: fixed;
    left: 50%;
    top: 35%;
    /* display: none; */
    /* background: transparent url("../images/loading-big.gif"); */
    z-index: 1000;
    height: 31px;
    width: 31px;
}

#busy-holder
{
    background: transparent;
    width: 100%;
    height: 100%;
}
